<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login </title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>


<div class="login-wrapper">

    
    <div class="login-left">

        <h1>Welcome Back 👋</h1>
        <p>Login to continue ATS Resume Analyzer</p>

        <form method="POST" action="/login" class="login-form">

    <input type="email"
           name="email"
           class="input"
           placeholder="Email"
           required>

    <input type="password"
           name="password"
           class="input"
           placeholder="Password"
           required>

    <div class="forgot-link">
        <a href="{{ url_for('forgot_password') }}">
            Forgot Password?
        </a>
    </div>

    <button type="submit" class="btn">
        Login
    </button>

</form>
        <p style="margin-top:20px;">
            Don't have an account?
            <a href="/register">Register</a>
        </p>

    </div>

    
    <div class="login-right">

        <div style="text-align:center;">
            <h1>SkillMatch</h1>
            <p>Smart Resume Analyzer System</p>
        </div>

    </div>

</div>

</body>
</html>